# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyTorch
*.pth
*.pt

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Data
data/raw/
data/processed/
*.lmdb
*.hdf5

# Models & Logs
wandb/
*.log
checkpoints/
lightning_logs/

# DVC
/data/.dvc
.dvc/cache

# Environment
.env
.venv
env/
venv/